@charset "UTF-8";
/*font*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @media screen and (max-width:779px){
*{
    padding: 0px;
    margin: 0px;
}
a{
  font-family: 'Poppins';
  
}
.header{

  background: #212529;
  padding-inline: 10px;
}
.nav{
  max-width: 779px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 100px;
  height: auto; 
}

.nav-list{
  display: flex;
  gap: 30px;
  list-style-type: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background:#212529;

clip-path: circle(100px at 90% -15%);
transition: 0.3s ease-out;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  pointer-events: none;
}
.nav-list a{
  
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 55px;
}
.corpo{
  
  height: calc(100vh - 70px);
  background-color: rgb(178, 180, 178) ;
}
/*menu anburguer e animaçao */
.bug{
  z-index: 1;
  border: none;
  background: none;
  border-top: 3px solid white;
  cursor: pointer;
}

.bug::before,.bug::after{
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: white;
  margin-top: 4px;
  position: relative;
  transition: 0.1s;

}
.nav.active .nav-list{
  clip-path: circle(1500px at 90% -25%);
  pointer-events: all;
}

.nav-list a{
  font-size: 38px;
  opacity: 0;

}
.nav-list a:hover{
  font-size:45px ;
  color:aquamarine;
  animation-duration: 0.1s;
  padding: initial;
  box-shadow: 0px 0px 15px rgb(211, 251, 239);
  border-radius: 5px;

}
.nav-list li:nth-child(1) a
{
  transition: 0.4s 0.1s ;
}
.nav-list li:nth-child(2) a
{
  transition: 0.4s 0.2s ;
}
.nav-list li:nth-child(3) a
{
  transition: 0.4s 0.3s ;
}
.nav.active .nav-list a{
  opacity: 1;
}
/*atigo vantagens*/
.vantagens{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  
}
/*cesao das vantagens*/
.fundo-vantagens{
  background:linear-gradient(rgb(14, 17, 12), rgb(22, 41, 17), rgb(14, 17, 12));
  height: calc(100vh at -40px);
}
.vantagens>section{
 
  background: rgb(103, 102, 102);
  margin: 2px;
  padding: 3px;
  border-radius: 3px;
}

  

/*images*/
.produtividade>img{
  width: 90px;
  height: 90px;
  
  
}
.custos>img{
  width: 90px;
  height: 90px;
}
.melhorias>img{
  width: 90px;
  height: 90px;
}
/*textos*/
.vantagens h2{
  font-family: 'Barlow Condensed';
  font-size: 18px;
  padding: 5px;
}
.vantagens p{
   font-family: 'Poppins';
   font-size: 14px ;
   font-style: italic;

}

      } 
      
     
     
  