@charset "UTF-8";
/*font*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @media screen and (min-width:778px){
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
p{
    font-family:'Poppins' ;
  }
  h1,h2{
    font-family: 'Barlow Condensed';
  }
a{
  font-family: 'Poppins';
  
}
.header{
  
  background: #212529;
  padding-inline: 10px;
  
}

.logo img {
  width: 300px;
  height: auto; 
  margin: auto;
}
.bug{
  display: none;
}
.nav{
  display: flex;
  
}
.nav-list{
  display: flex; 
  list-style-type: none;
  width: 100%;
  background:#212529;
  justify-content: space-around
  
}
.nav-list a{
  
  font-size: 18px;
  color: white;
  text-decoration: none;
  
}
}