@charset "UTF-8";
/*font*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @media screen and (min-width:778px){
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
p{
    font-family:'Poppins' ;
  }
  h1,h2{
    font-family: 'Barlow Condensed';
  }
a{
  font-family: 'Poppins';
  
}
body{
  padding-top: 0;
  max-width: 100vw;
  overflow-x: hidden;
  margin: auto;
  background-image: url(../imagens/robo-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
}
.corpo{
  max-width: 100%;
 margin: auto;
}


/*menu*/
.header{
  z-index: 10;
  top: 0;
  position: fixed;
  background: #212529;
  padding-inline: 10px;
  width: 100%;
  overflow-x: hidden;
}

.logo img {
  padding: 5px;
  width: 80px;
  height: auto; 
  margin: auto;
}
.bug{
  display: none;
}
.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list{
  display: flex; 
  list-style-type: none;
  width: 90vw;
  background:#212529;
  gap:10vw;
 justify-content: flex-end;
  margin: 0%;
  padding-right: 10px;
  overflow: hidden;
}
.nav-list a{
  
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 15px;
}
.nav-list a:hover{
  font-size:19px ;
  color:rgb(172, 228, 236);
  background-color: rgb(25, 45, 45);
  transition: 0.5s;
  padding: 8px;
  box-shadow: 0px 1px 10px rgb(211, 251, 239);
  border-radius: 3px;
}
/*carosel mobile*/
.fundo-carossel{
  display: none;
}
/*cabeça main*/
.cabeça-main{
  padding-top: 12vh;
  width: 100%;
  background-image: linear-gradient(#212529 25%,#212529 ,#21252901 90%);
}
.img-pessoas{
 margin-right:95px;
  width: 400px;
}
.img-introduçao{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  height: 250px;
}
.estamos-cabeça {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 9vw;
}
  

.estamos-cabeça>h1,p{
  color: white;
}
/*atigo vantagens*/
.vantagens{
  margin: auto;
  max-width: 80%;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 2px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.fundo-vantagens{
  
  background:rgba(44, 44, 44, 0);
  height:max-content;
}
.fundo-vantagens > h1{
  
  font-size: 3em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.964);
  color: rgb(151, 211, 210);
  padding-top: 60px;
  text-align: center;
}
.vantagens>section{
 
  background: rgb(82, 82, 82);
  margin: 2px;
  padding: 9px;
  border-radius: 3px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.292);
}
.vantagens>section:hover{
  
  box-shadow: 0px 5px 1px rgb(151, 211, 210);
  transition-duration: 0.5s;

}
  /*images*/
.produtividade>img{
  width: 90px;
  height: 90px;
}
.custos>img{
  width: 90px;
  height: 90px;
}
.melhorias>img{
  
  width: 90px;
  height: 90px;
}
/*textos de vantagens*/
.vantagens h2{
  font-family: 'Barlow Condensed';
  font-size: 28px;
  padding: 8px;
  color: rgb(145, 217, 255);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.688);
}
.vantagens p{
  
   font-size: 18px ;
   padding: 5px;
   color:rgb(127, 244, 255);
}
/*quem somos*/
.fundo-somos{
  position: relative;
 background-size:cover;
 padding: 20px; 
}
.quem-somos {
  width: 80%;
  visibility: hidden;
  overflow: hidden;/*linha auterada*/
  display: flex;
  margin:auto;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.796);
  border-radius: 8px;
  box-shadow: 0px 2px 3px black;
  gap: 25px;
 
 
  
}
.quem-somos h1{
  
  font-size: 36px;
  text-align: center;
  margin: auto;
  text-shadow: 2px 2px 0px rgba(246, 243, 243, 0.158);
  color:white;
}
.quem-somos p{
  padding: 5px;
  font-size: 18px;
  text-align: center;
  color:rgb(216, 245, 253);
}
/*porque escolher*/
.fundo-porque-escolher{
  background: rgb(44, 44,44);
  }
  .porque-escolher{
    visibility: hidden;
    display: flex;
    align-items: center;
   flex-direction:column;
   width: 90%;
   margin: auto;
   background:rgb(44, 44, 44);
  }
  
  .porque-titulo{
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.595);
    color: rgb(151, 211, 210);
    padding: 0.5em;
  }
  .porque-alinha{
    display: flex;
  }
  .porque-escolher>.porque-alinha>button{
    background: radial-gradient(circle, rgb(246, 246, 246) 0%, rgba(92,151,255,1) 0%, rgba(83,227,255,1) 100%);
    border-style: none;
    padding: 1vh;
    width: 90%;
   margin: 8px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   gap: 10px;
  }
  .toggle-porque>h2{
    margin:0px auto;
    
    font-size: 2.5em;
    color:white;
    text-shadow: 0px 2px 2px black;
  }
  .toggle-porque>span>p {
    padding: 5px;
    font-size: 15px;
    color: rgb(1, 1, 1);
    min-height: 100%;
    font-weight: 900;
  }
  /*contato*/
 .fundo-contato{
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

 }
 .contato{
  padding: 50px;
  list-style: none;
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }
 .contato li{
  border: 1px solid rgb(252, 255, 212);
  border-radius: 5px;
  align-items: center;
  padding: 20px;
  background-color:rgba(120, 117, 117, 0.363);
 }
 .contato img{
  width: 60%;
  height: auto;
 }
 .contato a{
  display: flex;
  flex-direction: column;
 align-items: center;
  font-size: 30px;
  text-decoration:none;
  font-weight: 900;
  color: rgb(208, 228, 228);
 
  }
  .contato li:hover{
   
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(92,151,255,1) 92%, rgba(83,227,255,1) 98%);
}
.contato a:hover{
  transition: 0.6s;
  font-size: 35px;
}
footer{
  
  padding-top: 50px;
  background-color: rgba(40, 40, 40, 0.827);
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 footer>img{
  padding: 20px;
  
 }
 footer>p{
  padding: 20px;
  text-align: center;
  color: white;
 }
  }